<section class="about-us">
    <div class="about">
      <!--<img src="girl.png" class="pic">-->
      <div class="text">
        <h2>About Us</h2>
        <h5>Workshop & <span>services</span></h5>
          <p>Automobile workshop provide services of preventive maintenance of motor vehicles as well as for repairs and overhauls, Preventive maintenance cuts the down time and increases, life of the vehicle a reliable and well equipped automobile workshop is a must for this purpose.   </p>
        <div class="data">
        <a href="#" class="hire">Hire</a>
        </div>
      </div>
    </div>
  </section>