<section class="vh-100" style="background-image: url('assets/images/wp4043244-car-parts-wallpapers.jpg'); background-size: cover;background-repeat: no-repeat;height: 100vh;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <div class="displayTable">
                                    <div class="displayTableCell">
                                      <div class="authBlock">
                                        <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Signup</p>
                                        <div class="formGroup form-outline mb-4">
                                          <input type="email" class="formControl form-control form-control-lg" placeholder="Email Address" #userEmail required />
                                        </div>
                                        <div class="formGroup form-outline mb-4">
                                          <input type="password" class="formControl form-control form-control-lg" placeholder="Password" #userPwd required/>
                                        </div>
                                        <div class="formGroup form-outline mb-4">
                                          <input type="button" class="btn btn-block btn-primary"  value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)"/>
                                        </div>
                                        <div class="formGroup form-outline mb-4">
                                          <span class=""><span class="orInner">Or</span></span>
                                        </div>
                                        <!-- Continue with Google -->
                                        <div class="formGroup form-outline mb-4">
                                          <button type="button" class="btn btn-danger" (click)="authService.GoogleAuth()">
                                            <i class="fa fa-google"></i> Continue with Google
                                          </button>
                                        </div>
                                      </div>
                                      <div class="redirectToLogin">
                                        <span>Already have an account?
                                          <span class="redirect" routerLink="/login">Log In</span></span>
                                      </div>
                                    </div>
                                  </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
