<nav class="navbar navbar-dark bg-dark">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-light active" href="/orderin">Order details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/mechdetail">Mechanic Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/feedback">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/add-service">AddtoServices</a>
        </li>
      </ul>
  </nav>